<%- include('./partials/header.ejs') %>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creelon Blog Post</title>
</head>

<body>
    <h1 class="createTitle">Post Creation</h1>
    <section class="postCreation">
        <form action="/post-create" method="POST">
            <div class="container-grid">

                    <div class="form group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username">
                    </div>

                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title">
                    </div>

                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea id="description" name="description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="image">Enlace de la imagen:</label>
                        <input type="text" id="image" name="image">
                    </div>

                    <div class="alignButton">
                        <button type="submit" class="btn btn-dark btn-lg px-4 me-md-2">Create Post</button>
                    </div>

            </div>
        </form>
      </section>
</body>

</html>

<%- include('./partials/footer.ejs') %>
