<%- include('./partials/header.ejs') %>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creelon Blog Post</title>

</head>

<body>
    <h1 class="createTitle">Post Edition</h1>
    <section class="postCreation">
        <form action="/edit-post" method="POST">
            <div class="container-grid-search">

                    <div class="form group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username">
                    </div>

                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title">
                    </div>
                    
                    <div class="alignButton">
                        <button type="submit" class="btn btn-dark btn-lg px-4 me-md-2">Search Post</button>
                    </div>

            </div>
        </form>
      </section>
</body>

</html>

<%- include('./partials/footer.ejs') %>
